!!!
html
    head
        title= "Sockets + Canvas"
        link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
        style
          canvas { border: 1px solid black;}
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript")
        script(src="/jquery.event.drag-2.0.js")
        script(src='/canvasockets.js')
        script(src='/socket.io/socket.io.js')
    body(style='background: #EEE;')
      .container(style='width: 750px;')
        .page-header
          h1 Draw for your friends with NodeJs + Sockets.io
        article