!!!
html
    head
        title= "Begin with Sockets"
        link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
        script(src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript")
        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')
        style

    body(style='background: #EEE;')
      .container(style='width: 750px;')
        .page-header
          h1 My NodeJs + Sockets.io learning apps
        div.text-center
          a.btn.btn-primary(href="/chat" style='margin-bottom:20px;') Go chat!
          br
          a.btn.btn-primary(href="/canvasocket") Go draw!