!!!
html
    head
        title= "Begin with Sockets"
        link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
        script(src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript")
        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')
        style

    body(style='background: #EEE;')
      a(href="https://github.com/MaaAx/Begin_with_Sockets")
        img(style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub")
      .container(style='width: 750px;')
        .page-header
          h1 My NodeJs + Sockets.io learning apps
        div.text-center
          a.btn.btn-primary(href="/chat" style='margin-bottom:20px;') Go chat!
          br
          a.btn.btn-primary(href="/canvasocket") Go draw!
      footer(style='margin-top:50px;')
        .container
          .row
            .col-lg-12
              p.text-center Designed with all the love in the world by 
                a(href='http://maximelamaison.com/' target="_blank") Maxime Lamaison.